<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/" version="2.0">
<channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}{{ site.root }}</link>
    <image>
        <url>{{ site.image }}</url>
        <title>{{ site.title }}</title>
        <link>{{ site.url }}{{ site.root }}</link>
    </image>
    <description>{{ site.description }}</description>
    <language>en-us</language>
    <copyright>{{ site.author.name }} &copy; {{ call now "getFullYear" }}</copyright>
    <atom:link href="{{ site.url }}{{ site.root }}/feed.xml" rel="self" type="application/rss+xml"/>
    <lastBuildDate>{{ call now "toISOString" }}</lastBuildDate>
    <itunes:author>{{ site.author.name }}</itunes:author>
    <itunes:summary>{{ site.description }}</itunes:summary>
    <itunes:subtitle>{{ site.subtitle }}</itunes:subtitle>
    <itunes:owner>
        <itunes:name>{{ site.author.name }}</itunes:name>
        <itunes:email>{{ site.author.email }}</itunes:email>
    </itunes:owner>
    <itunes:explicit>No</itunes:explicit>
    <itunes:keywords>{{ site.keywordsList }}</itunes:keywords>
    <itunes:image href="{{ site.image }}"/>
    <rawvoice:rating>{{ site.rating }}</rawvoice:rating>
    <rawvoice:frequency>{{ site.frequency }}</rawvoice:frequency>
    {{#each site.categories}}{{> category}}{{/each}}
    <pubDate>{{ lastPost.date }}</pubDate>
    {{#each posts }}
    <item>
        <title>{{ this.title }}</title>
        <link>{{ ../site.url }}{{ ../site.root }}/{{ this.slug }}</link>
        <pubDate>{{ call this.date "toISOString" }}</pubDate>
        <description>{{ this.description }}</description>
        {{#each this.enclosures }}<enclosure url="{{ this.url }}" length="{{ this.length }}" type="{{ this.type }}"/>{{/each}}
        <guid>{{ ../site.url }}{{ ../site.root }}/{{ this.slug }}</guid>
        <itunes:duration>{{ this.duration }}</itunes:duration>
        <itunes:summary>{{ this.description }}</itunes:summary>
        <itunes:image href="http://www.example.com/image3000x3000.png"/>
        <itunes:keywords> comma,separated,key,words </itunes:keywords>
        <itunes:explicit>no</itunes:explicit>
    </item>
    {{/each}}
</channel>
</rss>
